<li><a href="exercise01.html">01. Exercise Name</a></li>
<li><a href="exercise02.html">02. Exercise Name</a></li>
<li><a href="exercise03.html">03. Exercise Name</a></li>
<li><a href="exercise04.html">04. Exercise Name</a></li>
<li><a href="exercise05.html">05. Exercise Name</a></li>
<li><a href="exercise06.html">06. Exercise Name</a></li>
<li><a href="exercise07.html">07. Exercise Name</a></li>
<li><a href="exercise08.html">08. Exercise Name</a></li>
<li><a href="exercise09.html">09. Exercise Name</a></li>
<li><a href="exercise10.html">10. Exercise Name</a></li>
<li><a href="exercise11.html">11. Exercise Name</a></li>
<li><a href="exercise12.html">12. Exercise Name</a></li>
<li><a href="exercise13.html">13. Exercise Name</a></li>
<li><a href="exercise14.html">14. Exercise Name</a></li>
<li><a href="exercise15.html">15. Exercise Name</a></li>
<li><a href="exercise16.html">16. Exercise Name</a></li>
<li><a href="exercise17.html">17. Exercise Name</a></li> 
<li><a href="exercise18.html">18. Exercise Name</a></li>   