body {font-family: sans-serif;
        font-size: 12px;}
h1   {color:blue;}
p    {color:green;}

a {text-decoration: none}


#test {font-size: 16px;color:#ebff00;}

.myclass {font-size: 20px;color:#ed4773;}
#test {
    
}
